<div class="container-fluid bg-light d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="text-center mb-4">Iniciar sesión</h2>
      <form (ngSubmit)="loginSubmitted()">
        <div class="mb-3">
          <app-multi-input label="Correo electrónico" controlType="email" [(value)]="signinModel.email"
            placeholder="Ingrese su correo electrónico" [required]="true">
          </app-multi-input>
        </div>
        <div class="mb-3">
          <app-multi-input label="Contraseña" controlType="password" [(value)]="signinModel.password"
            placeholder="Ingrese su contraseña" [required]="true">
          </app-multi-input>
        </div>
        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </div>
        <div class="text-center mb-3">
          <a [routerLink]="['/reset']" class="text-decoration-none">Olvidé mi contraseña</a>
        </div>
        <div class="text-center">
          ¿No tienes cuenta? <a [routerLink]="['/register']" class="text-decoration-none">Regístrate</a>
        </div>
      </form>
    </div>
  </div>
</div>
