<div class="container-fluid bg-light d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="text-center mb-4">Iniciar sesión</h2>
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario">
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
            <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
          </div>
        </div>
        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-block" (click)="loginSubmitted()">Ingresar</button>
        </div>
        <div class="text-center mb-3">
          <a [routerLink]="['/reset']" class="text-decoration-none">Olvidé mi contraseña</a>
        </div>
        <div class="text-center">
          ¿No tienes cuenta? <a href="#" class="text-decoration-none">Regístrate</a>
        </div>
      </form>
    </div>
  </div>
</div>
