<div class="container-fluid p-0">

  <app-slider
    [images]="['assets/images/nfts/09.jpg', 'assets/images/nfts/13.jpg', 'assets/images/nfts/single.jpg']"></app-slider>

  <app-featured-categories [categories]="[
    { img: 'assets/images/blog/01.jpg', title: 'Category 1' },
    { img: 'assets/images/blog/02.jpg', title: 'Category 2' },
    { img: 'assets/images/blog/03.jpg', title: 'Category 3' }
  ]"></app-featured-categories>

  <app-featured-products class="mt-5" [products]="[
   { name: 'Producto 1', price: 19.99, image: 'assets/images/nfts/01.jpg' },
    { name: 'Producto 2', price: 29.99, image: 'assets/images/nfts/02.jpg' },
    { name: 'Producto 3', price: 39.99, image: 'assets/images/nfts/03.jpg' },
    { name: 'Producto 4', price: 49.99, image: 'assets/images/nfts/04.jpg' }
  ]"></app-featured-products>

</div>
