<div class="container mt-5">
  <h2 class="text-center mb-4">Admin Dashboard</h2>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <p class="card-text">{{ stats.users }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventas</h5>
          <p class="card-text">{{ stats.sales }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">{{ stats.products }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <app-table [title]="'Usuarios'" [rows]="users" [columns]="userColumns">
    <ng-container *ngFor="let user of users">

    </ng-container>
  </app-table>
</div>

<div class="container mt-5">
  <app-table [title]="'Productos'" [rows]="products" [columns]="productColumns">
    <ng-container *ngFor="let product of products">

    </ng-container>
  </app-table>
</div>

