<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <form (ngSubmit)="onSubmit()" class="bg-light p-4 rounded shadow" style="max-width: 600px;">
    <h2 class="text-center mb-4">Registro</h2>

    <div class="row g-3">
      <div class="col-md-6">
        <app-multi-input label="Email" controlType="email" [(value)]="formData.email" placeholder="Ingrese su email"
          [required]="true">
        </app-multi-input>
      </div>

      <div class="col-md-6">
        <app-multi-input label="Contraseña" controlType="password" [(value)]="formData.password"
          placeholder="Ingrese su contraseña" [required]="true" [minLength]="6">
        </app-multi-input>
      </div>

      <div class="col-md-6">
        <app-multi-input label="Nombre" controlType="input" [(value)]="formData.name" placeholder="Ingrese su nombre"
          [required]="true">
        </app-multi-input>
      </div>

      <div class="col-md-6">
        <app-multi-input label="Apellido" controlType="input" [(value)]="formData.lastName"
          placeholder="Ingrese su apellido" [required]="true">
        </app-multi-input>
      </div>

      <div class="col-12">
        <app-multi-input label="Dirección" controlType="input" [(value)]="formData.address"
          placeholder="Ingrese su dirección" [required]="true">
        </app-multi-input>
      </div>

      <div class="col-md-6">
        <app-multi-input label="Contacto telefónico" controlType="input" [(value)]="formData.contactPreferences"
          placeholder="Ingrese su número telefónico" [required]="true" pattern="^\d{8}$">
        </app-multi-input>
      </div>

      <div class="col-md-6">
        <app-multi-input label="Rol" controlType="select" [(value)]="formData.rolId" [options]="[
            {value: '1', display: 'Cliente'},
            {value: '2', display: 'Administrador'}
          ]" [required]="true">
        </app-multi-input>
      </div>

      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
      </div>
    </div>
  </form>
</div>
